registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
strict-peer-dependencies=false
auto-install-peers=true
legacy-peer-deps=true
